<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THIS IS MY WEBSITE HOME PAGE</title>
</head>
<body>
    <h1>welcome to the text analyser , enter your text below</h1>
    <form action="/analyze" method="get">
        <textarea name='text' style='width: 99vw; height: 20vh;'></textarea>
        <input type="checkbox" name="removepun">Remove Punctuations<br>
        <input type="checkbox" name="fullcapital">Capitalise text<br>
        <input type="checkbox" name="newlinerem">New Line Remover<br>
        <input type="checkbox" name="extraspacerem">extra space remover<br>
        <button type="submit">ANALYSE TEXT</button>
    </form>
</body>
</html>

